{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    {% block meta_tags %}
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock meta_tags %}
    <title>
        {% block title %}{% trans "IWRAP Central Authentication Service" %}{% endblock title %}
    </title>
    {% block styles %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style type="text/css">
            body {
                background-color: #faebd7;
            }
            .login-title {
                color: #555;
                font-size: 1.8em;
            }
            .form-login .checkbox {
                font-weight: normal;
                padding-left: 20px;
            }
            .form-login .form-control {
                font-size: 16px;
                height: auto;
                padding: 10px;
                position: relative;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            .form-login .form-control:focus {
                z-index: 2;
            }
            .form-login input[type="text"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .form-login input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
    {% endblock styles %}
    {% block javascript %}{% endblock javascript %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
