{% extends "mama_cas/__base.html" %}
{% load i18n %}

{% block content %}
    <div class="brand">MajiSYS</div>
    <div class = "brand">
        <h1 class="text-center login-title" style="color:black;">
            {% block content_title %}{% trans "IWRAP Central Authentication Service" %}{% endblock content_title %}
        </h1>
    </div>
    <div class="container">
        <div class="card card-container">
            {% include "mama_cas/_messages.html" %}
            <form class="form-signin" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" id="id_username" name="username" placeholder="{{ form.username.label }}" required autofocus>
                <label class="sr-only" for="id_password">{{ form.password.label }}</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="{{ form.password.label }}" required>
                {% if form.warn %}
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> {{ form.warn.label }}
                    </label>
                </div>
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{% trans "Login" %}</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock content %}
